/* Suaviza les línies horizontals */
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

/* Títols */
h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #2c3e50;
}

/* Títols específics */
h1 {
  font-size: 2.5em; /* 40px */
}

h2 {
  font-size: 2em; /* 32px */
}

h3 {
  font-size: 1.5em; /* 24px */
}

/* Enllaços */
a {
  color: #1a73e8;
  text-decoration: none;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 1.05em;
}
a:hover {
  text-decoration: underline;
}

/* Botons de desplaçament (amunt i avall) */
#scrollButtons {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column; /* Apilar els botons un sobre l'altre */
  gap: 10px; /* Espai entre els botons */
  z-index: 1000;
}

#scrollUpBtn, #scrollDownBtn {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 15px;
  font-size: 1.5em;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
}

#scrollUpBtn:hover, #scrollDownBtn:hover {
  background-color: #0c59b3;
}

/* Estils generals */
body {
  font-family: Arial, sans-serif;
  line-height: 1.3;
  padding: 0 15px;
}

li {
  line-height: 1.2;
}

/* Botó de "Tornar a l'inici" */
#goToHomeBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 15px;
  font-size: 1.5em;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

#goToHomeBtn:hover {
  background-color: #0c59b3;
}

/* Peu de pàgina amb llicència */
footer, .license {
  font-size: 0.85em;
  color: #666;
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding-top: 10px;
  text-align: left;
}

.license-icon {
  max-width: 1em;
  max-height: 1em;
  margin-left: 0.2em;
}

/* Responsivitat per dispositius petits */
@media (max-width: 600px) {
  body {
    padding: 0 10px;
  }

  /* Botons fixos ajustats per a mòbils */
  #scrollButtons {
    bottom: 10px;
    left: 10px;
  }

  #goToHomeBtn {
    top: 10px;
    right: 10px;
  }
}
